{% extends 'base_generic.html' %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'landing_page' %}">
                EH&E AFFF Claims Portal
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'landing_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'phase2-helpful-info' %}">Helpful Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'no_data_contact' %}">Contact</a>
                    </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="border:none; background: none !important;">Log Out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block infobar %}{% endblock %}