{% extends 'base_generic.html' %}

{% block content %}


<div class="container mt-4">
    <h3 class="no-bottom-border" style="text-align:center; font-weight:bold;">{% if claim == "3M_DuPont" %} 3M/Dupont Phase I Action Fund Claim Data {% else %} Tyco/BASF Action Fund Claim Data {% endif %}</h3>
    <div class="container">
        <h4>Sources</h4>

        <table id="sourcesTable" class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="text-center" style="width:50%">Source Name</th>
                    <th scope="col" class="text-center">Source Status</th>
                    <th scope="col" class="text-center">View Source Info</th>
                </tr>
            </thead>
            <tbody>
                {% for source in sources %}
                <tr>
                    <td class="text-left">{{ source.source_name }}</td>
                    <td class="text-center">{% if source.all_nds %} Not Impacted {% else %} Impacted with PFAS {% endif %}</td>
                    <td class="text-center">
                        <a href="{% url 'source-detail' claim=claim pwsid=source.pwsid source_name=source.source_name %}"
                            class="text-decoration-none"
                            style="color:inherit;">
                            <i class="bi bi-eye-fill h5"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>

<script>
    $(document).ready(function() {
        $('#sourcesTable').DataTable({
            pageLength: 25, 
            columnDefs: [
                {orderable: false, targets: 2}
            ], 
            order: [
                [1, 'asc'], 
                [0, 'asc']
            ],
        });
    });
</script>

{% endblock %}