{% extends 'base_generic.html' %}

{% block content %}

{% if pws.data_origin == 'EHE Forms Portal' %}
<div class="container-mt-4">
    <p>
        Looks like you are in the wrong EH&E portal. This portal is only intended for systems that have already submitted a Phase 1 3M and DuPont claim with the Office of the Claims Administrator. Our records indicate that <b>{{ pws.pws_name }} ({{ pws.pwsid}})</b> has <em>not</em> yet filed a claim. 
    </p>
    <p>
        Perhaps you are looking for <a href="https://app.form.com/online/81596113/?nav=default&login=">EH&E Forms portal</a>, which is designed to receive information for systems that have yet to file a claim. If that is the case, please head over to <a href="https://app.form.com/online/81596113/?nav=default&login=">EH&E Forms portal</a> and login using the same username and password you used to log into this portal. In the Forms portal, you will be able to provide all the relevant information needed to file a claim with the Office of the Claims Administrator for a new system. 
    </p>

    <p>
        We apologize for the confusion. If you have any questions, please <a href="{% url 'contact_default' %}">contact us</a> and one of us at EH&E will be in touch with you within two business days.
    </p>
</div>


{% else %}
<div class="container mt-4">

    <p>
        This page lists the "unimpacted" sources associated with <b>{{pws.pwsid}}</b>. "Unimpacted" in this context means, at
        the time of the 3M/DuPont Phase I Action Fund Claim filing, the below sources did not have measureable concentrations
        of PFAS.

    </p>


<!--    <p>
        Claims for the following sources were submitted on your behalf in the Office of the Claims Administrator's Claims Portal for the 3M and DuPont claims. Please review the sources and update the data as needed. <b>If you have a source that is not listed here and you would like to either add that source or would like to get advice on whether a new source should be added, please <a href="{% url 'contact_default' %}">contact EH&E immediately</a></b>.
    </p>
    <p>
        For each source listed below, please review the following information by clicking on the <i class="bi bi-eye-fill"></i> icon: 
        <ul>
            <li><b>PFAS results: </b>If, for any source, you have a <em>higher</em> PFAS result for PFOA, PFOS, or the next highest PFAS analyte than what was reported for the 3M and DuPont claims, please update the result and provide us with a corresponding lab report. If a source was previously unimpacted (i.e., had never previously reported a detection of any PFAS), please proceed to the source page, where you should provide the PFAS results, as well as the maximum flow rate and annual production for that source. </li>

            <li><b>Max Flow Rate: </b>This is unlikely to change but if you have a document that shows a higher max flow rate, please  update this value.</li>
            
            <li><b>Annual Production: </b>For each impacted source below, i.e., sources with a Source Status of PFAS detected in the table below, please provide annual production for 2023. If the source is unimpacted, annual production is not needed at this time.</li>

            
        </ul>
    </p>
    <p>
        If you have no updates or corrections to make, no action is needed on your behalf at this time. EH&E or your legal team will be in contact with you once the Tyco and BASF claims are ready to be submitted with the Office of the Claims Administrator. 
    </p>-->
    <div class="container">
        <h4>Sources</h4>

        <table id="sourcesTable" class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="text-center">Source Name</th>
                    <!--<th scope="col" style="width:20%;">Source Type</th>-->
                    <th scope="col" class="text-center" style="width:18%;">Source Status</th>
                    <th scope="col" class="text-center" style="width:12%;">View Source Info</th>
                    <th scope="col" class="text-center">Submit Notification to Proceed</th>
                    <th scope="col" class="text-center">Notification Sent</th>
                    <th scope="col" class="text-center">Supplemental Status</th>
                </tr>
            </thead>
            <tbody>
                {% for source in sources %}
                <tr class="{% if source.reg_bump %}ineligible-row{% else %}eligible-row{% endif %}">
                    <td>{{ source.source_name }}</td>
                    <td class="text-center">{% if not source.reg_bump %} Eligible {% else %} Not Eligible {% endif %}</td>
                    <td class="text-center">
                        <a href="{% url 'source-detail' claim=claim pwsid=source.pwsid source_name=source.source_name %}"
                            class="text-decoration-none" 
                            style="color:inherit;">
                            <i class="bi bi-eye-fill h5"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'contact_phase1' claim=claim source_name=source.source_name message=1 %}" class="btn btn-primary {%if source.reg_bump or source.sup_notif_sent %}no-click{%endif%}">Submit Notification</a>
                    </td>
                    <td class="text-center">
                        {% if source.sup_notif_sent %} Yes {% else %} No {% endif %}
                    </td>
                    <td class="text-center">
                        {{source.sup_status}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
</div>    
{% endif %}

<script>
    $(document).ready(function() {
        $('#sourcesTable').DataTable({
            pageLength: 25, 
            columnDefs: [
                {orderable: false, targets: 3}
            ], 
            order: [
                [2, 'asc'], 
                [0, 'asc']
            ],
        });
    });
</script>

{% endblock %}