{% extends 'base_generic.html' %}

{% block content %}
<h3>3M/DuPont Action Fund Data</h3>

<!--    <div class="card">
        <p>Select the claim from which you would like to view the data for:</p>
        <select class="form-multi-select" id="ms1" multiple data-coreui-search="global">
        &lt;!&ndash;<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">&ndash;&gt;
          &lt;!&ndash;<option selected>Open this select menu</option>&ndash;&gt;
          <option value="1">3M/DuPont Action Fund Claim</option>
          <option value="2">Tyco/BASF Action Fund Claim</option>
        </select>
    </div>

    <div class="card">
        <p>Select the source(s) you would like to view the data for:</p>
    </div>-->


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                PFAS Data
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
                <table id="pfas_data_3MD_table" class="cell-border">
                    <thead>
                        <tr>
                            <!-- <th scope="col" style="width:5%;">#</th> -->
                            <th scope="col">Source Name</th>
                            <th scope="col">Analyte</th>
                            <th scope="col">Result (ppt)</th>
                            <th scope="col">Sampling Date</th>
                            <th scope="col">Analysis Method</th>
                            <th scope="col">Lab</th>
                            <th scope="col">Filename</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in pfas_data_3MD %}
                        <tr>
                            <!-- <th scope="row">{{ forloop.counter }}</th> -->
                            <td>{{ result.source_name }}</td>
                            <td>{{ result.analyte }}</td>
                            <td>{{ result.result_ppt }}</td>
                            <td>{{ result.sampling_date}}</td>
                            <td>{{ result.analysis_method }}</td>
                            <td>{{ result.lab }}</td>
                            <td>{{ result.filename }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Annual Flow Rate Data
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Max Flow Rate Data
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function() {
        $('#pfas_data_3MD_table').DataTable({
            pageLength: 10,
            responsive: true,
            scrollX: true,
            columnDefs: [
                {orderable: false, targets: 3}
            ],
            order: [
                [2, 'asc'],
                [0, 'asc']
            ],
        });
    });
</script>









{% endblock %}