{% load humanize %}

{% if user.is_authenticated %}
    <div id="info-bar" class="container">
        Here, we want to show the following in two rows with some styling to make it stand out a bit: 
        <ul>
            <li>claim id: {{ claim_pws.claim_number|stringformat:'d' }}</li>
            <li>entity: {{ pws.client_group }}</li>
            <li>pwsid: {{ pws.pwsid }}</li>
            <li>water system name: {{ pws.pws_name }}</li>
            <li>representing law firm: {{ pws.firm }}</li>
        </ul>
    </div>
{% endif %}