{% extends 'base_generic.html' %}

{% block content %}

<div class = "card" style="display: flex; width:80%; margin:auto; text-align:center">

    <h1>{{pws.pwsid}}: {{pws.pws_name|title}}</h1>

</div>

<div class = "card-container" style= "flex-wrap:wrap; align-items:stretch">
    <div class = "card" style = "width:35%; flex-direction:column">

        <h3 style="font-weight:bold">Action Fund<br>Data</h3>
        <div class = "card-body">

            <p style="text-align:left">You are able to view the various different information that was submitted for <b>{{pws.pws_name|title}}</b>
                for both the 3M/DuPont Phase I Action Fund Claim and the Tyco/BASF Action Fund Claim. For each source
                that was part of the aforementioned claims, you are able to view the PFAS analytical data, maximum flow rate data,
                and annual production data that was submitted.
            </p>
        </div>
        <br>
        <br>
        <div style="display:flex; justify-content:space-evenly;">
            <a href="{% url 'dashboard_simple' claim='3M_DuPont' supplemental=0%}" class="btn btn-primary" style="width:40%;">3M/DuPont</a>
            <a href="{% url 'dashboard_simple' claim='Tyco_BASF' supplemental=0%}" class="btn btn-primary" style="width:40%;">Tyco/BASF</a>
        </div>

    </div>

<!--    <div class = "card" style = "width:30%; flex-direction:column">

        <h3 style="font-weight:bold">Payment<br>Information</h3>
        <div class = "card-body">

            <p style="text-align:left">The payment information relative to <b>{{pws.pws_name|title}}</b> can be viewed by clicking
                the button below. The information includes system-level and source-level payment distribution details
                that <b>{{pws.pws_name|title}}</b> is anticipated to receive.
            </p>
            <br>
            <br>
        </div>

        <div style="display:flex; justify-content:space-evenly;">
            <a href="{% url 'payment_dashboard' claim='3M_DuPont' %}" class="btn btn-primary" style="width:40%;">3M/DuPont</a>
            <a href="{% url 'payment_dashboard' claim='Tyco_BASF' %}" class="btn btn-primary" style="width:40%;">Tyco/BASF</a>
        </div>

    </div>-->

    <div class = "card" style = "width:35%">

        <h3 style="font-weight:bold">Supplemental<br>Fund Claims</h3>
        <div class = "card-body">

            <p style="text-align:left;"> Supplemental Fund Claims are intended for sources that:</p>
                <ol>

                    <li style="text-align:left;">Were "unimpacted" (i.e., there was no measureable concentration
                        of PFAS detected in the water source) at the time of filing the action fund claim but have since
                        exhibited detections of PFAS; <strong>OR</strong></li>
                    <br>
                    <li style="text-align:left;">Exhibited PFAS detections <strong>below</strong> the Proposed Federal PFAS MCLs or an applicable State PFAS MCL at
                        the time of filing the action fund claim, but have since had one or more PFAS detections above the Proposed Federal PFAS MCLs or applicable State PFAS MCLs.</li>

                </ol>

                <p style="text-align:left;">Use the buttons below to file a Supplemental Fund Claim for water
                    sources relative to a specific claim.</p>
        </div>
        <div style="display:flex; justify-content:space-evenly;">
            <a href="{% url 'dashboard' claim='3M_DuPont' supplemental=1%}" class="btn btn-primary" style="width:40%;">3M/DuPont</a>
            <a href="{% url 'dashboard' claim='Tyco_BASF' supplemental=1%}" class="btn btn-primary" style="width:40%;">Tyco/BASF</a>
        </div>

    </div>



</div>





{% endblock %}