{% extends 'base_generic.html' %}

{% block content %}
    <h2>Login</h2>
    <p>Please log into the portal using the same credentials you used for the EH&E FORMS portal.</p>
    <div class="login-container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username">Username:</label>
                <input type="text" class="form-control" name="username" id="id_username" required>
            </div>
            <div class="mb-3">
                <label for="id_password">Password:</label>
                <input type="password" class="form-control" name="password" id="id_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}