{% extends 'base_generic.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'landing_page' %}">
                EH&E AFFF Claims Portal
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'landing_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'no_data_contact' %}">Contact</a>
                    </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="border:none; background: none !important;">Log Out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="alert alert-danger">
    <div  style="display:flex; align-items:center;">
        <i class="bi bi-info-circle h5" style="padding-right:5px; color:#842029; width:5%"></i>
        <h3 style="margin: 0px; text-align:center; border-bottom:none; color:#842029; width: 100%;">There is currently no data for {{pws}}</h3>
    </div>
    <br>
    <br>
    <p>This notification is for any Public Water System (PWS) that is attempting to use this portal in which
    Environmental Health & Engineering (EH&E) has not been provided appropriate PWS information. To provide said information,
        please login to the <a href="https://app.form.com/online/81596113/?nav=default&login=">EH&E Forms Website</a> — using
        the <b>same credentials</b> you entered for this site — and complete the following:</p>
    <ol>
        <li>The "PWS Characteristics" form;</li>
        <li>A "Source Data" form for <span style="font-weight:bold; font-style:italic">each</span> of your Sources. This
        includes any active or inactive source that was used now, or in the past, for drinking water.</li>
        <li>Upload any necessary documentation pertaining to PFAS data, maximum flow rate data, and annual production
            flow rates for each Source. As you proceed with filling out the forms, The EH&E Forms Website will indicate
            to you what documents should be uploaded.</li>
    </ol>
    <p><b>Please refer to the "Helpful Information" section below
    for additional details.</b></p>
    <p>If you have any questions, believe you are receiving this notification by mistake, or if you are unable to login
        to EH&E Forms Website, please <a href="{% url 'no_data_contact' %}">contact us</a> and we will get back to you
    within 2-5 business days.</p>
</div>

<div class="card-alt">
    <h3 style="text-align:center; border-bottom:none; font-weight:bold;">Helpful Information</h3>
    <br>
    <h5 style="border-bottom:2px solid rgba(0, 0, 0, 0.5)">Deadlines:</h5>
    <table style="width:50%; margin:auto;">
        <th>Claim</th>
        <th>Date</th>
        <tr>
            <td>Phase Two Testing Claims Form</td>
            <td>03/31/2026</td>
        </tr>
        <tr>
            <td>Phase Two Public Water System [Action Fund] Claims Form</td>
            <td>07/31/2026</td>
        </tr>
        <tr>
            <td>Phase Two Special Needs Claims Form</td>
            <td>08/01/2026</td>
        </tr>
        <tr>
            <td>Phase Two Supplemental Fund Claims Form</td>
            <td>12/31/2030</td>
        </tr>
    </table>
    <br>
    <h5 style="border-bottom:2px solid rgba(0, 0, 0, 0.5)">Water Sources and Testing:</h5>
    <p>As defined by the settlements, a Water Source is:</p>
    <ol>
        <li>A groundwater well, with sampling done at the wellhead. </li>
        <li>A surface water treatment plant (supplied by one or more
            surface water sources or surface water combined with groundwater),
            with sampling done at the entry point into the treatment plant. </li>
        <li>Used, now or in the past, for drinking water.</li>
    </ol>
    <p>An “Impacted Water Source” is an above-described water source that has a test result with any measurable
        concentration of any PFAS analyte, regardless of whether that source is above or below local or federal
        regulations. PFAS samples must be taken before any treatment that removes PFAS but can be after other
        non-PFAS treatments like chlorination. Groundwater samples taken from blended water locations
        (e.g. an entry point into a distribution system where two groundwater wells are combined) are not eligible.
        The date by which these settlements determine eligibility of a PFAS test is the Sampling Date,
        not analysis date or lab report date. </p>
    <p>The settlements require that all non-detect sources, and sources that have never been tested,
        be <b>tested for all 29 PFAS analytes under EPA methods 533 and 537.1</b> to comply with
        Baseline Testing requirements. By submitting baseline-compliant non-detect sources
        with supporting lab reports, such sources are eligible to submit Supplemental
        Fund claims one or more of those sources exceed a State or Federal MCL before the end of 2030.
        We strongly advise testing any such sources to ensure potential eligibility for the settlement process.
        If you are unable or do not want to test a source for any reason, please let EH&E know. </p>
    <br>
    <h5 style="border-bottom:2px solid rgba(0, 0, 0, 0.5)">Claim Documentation</h5>
    <p><b style="border-bottom: 2px solid black;">Where to Submit Documentation:</b>
    <br>
    Please use the <a href="https://app.form.com/online/81596113/?nav=default&login=">EH&E Forms Website</a> to submit all
        necessary information and documentation pertaining to the PWS, including pertinent PFAS lab reports and flow rate documents.
    </p>
    <p><b style="border-bottom: 2px solid black;">Document Submission - Lab Reports:</b>
        <br>
        <i>For PFAS contamination</i>,
        the Claims Administrator will require the lab reports with chain-of-custody records
        reflecting the <b>highest</b> PFAS values (PFOA, PFOS, and/or highest other analyte) for each water source of
        all time, or for sources without detections, the lab reports that establish Baseline Testing.
        Note: If ongoing sampling results in higher PFAS values, please provide the lab reports
        for those higher detections. The results submitted do not need to be representative of the current
        levels of PFAS, just the historically highest levels.
    </p>
    <p>Please provide the necessary PFAS lab reports for each of your sources within the
        <a href="https://app.form.com/online/81596113/?nav=default&login=">EH&E Forms Website</a>.
    </p>
    <p><b style="border-bottom: 2px solid black;">Document Submission - Flow Rates:</b>
        <br>
        <i>For maximum flow rate</i>, this documentation will consist of one of the following:
    </p>
    <ol>
        <li>The design specifications for each source;</li>
        <li>A report of a pump test for the well or surface water intake; or,</li>
        <li>A system-wide file that lists the capacity of each source. </li>
    </ol>
    <p>Note: we may submit the <i>highest</i> maximum flow rate that’s been documented, even if it is not
        representative of the current capacity or use. If you do not have any of the above,
        EH&E can assist you in determining the best way to calculate flow rate based on
        historical production.
    </p>
    <p><i>For annual flow rates</i>, you will likely have records of annual (or monthly)
        production on a source-by-source basis, typically maintained in an
        Excel file or other log, often recorded in gallons or acre feet.
        If not, or if you have never kept track of that on a well-by-well basis,
        please let us know so we can assist you in estimating your historical production.
    </p>
    <p>Please provide the necessary maximum flow rate and annual flow rate documentation for each of your sources on the
        <a href="https://app.form.com/online/81596113/?nav=default&login=">EH&E Forms Website</a>.
    </p>
</div>
{% endblock %}

