{% extends 'base_generic.html' %}

{% load humanize %}

{% block content %}

{% if claim == '3M_DuPont' %}



    <div>
        <div class="alert alert-primary" style="display:flex; width:75%; margin:auto;">
            <i class="bi bi-info-circle h5" style="padding-right:2px; color:blue; width:5%"></i>
            <p>If you are seeking to determine the wiring/banking information that was originally provided for
            <strong>{{pws.pwsid}}</strong>, please send EH&E a message by filling out the contact form <a href="{% url 'contact_default' %}">here.</a></p>
        </div>
    </div>
    <br>


    <div style="display:flex; flex-wrap: wrap; justify-content:center;">
        <div class="card" style="width:75%;">
            <div class="card-body">
                <h3 class="label-center">PWS Payment Summary</h3>
                <p style="text-align:left">The information below is provided by the Claims Portal and includes <strong>{{pws.pws_name|title}}'s</strong> Adjusted Base Score (ABS)
                    for each claim; the ABS is the variable used to determine the portion of
                    Settlement Fund that a given PWS receives. The anticipated settlement amount that <strong>{{pws.pwsid}}</strong> expects
                    to receive is also listed below.</p>
                <br>
                <div>
                    <table class="table table-container text-center">
                        <thead>
                            <tr>
                                <th>Claim</th>
                                <th>Total Adjusted Base Score</th>
                                <th>Anticipated Total Net Settlement Award</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in pws_payment_info %}
                                <tr>
                                    <td class="text-center">{{ record.claim_type }}</td>
                                    <td>{{ record.current_pws_total_abs|floatformat:2|intcomma }}</td>
                                    <td>${{ record.anticipated_total_net_settlement_award|floatformat:2|intcomma }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br>

        <div class="card" style="width:75%;">
            <div class="card-body">
                <h3>Payment Amounts by Date and Fund</h3>
                <p style="text-align:left;">The table below, derived from information in the Claims Portal,
                    shows the payments that have been made to <strong>{{pws.pws_name|title}}</strong>
                    by date and by fund. A grand total is also provided at the bottom of the table.
                </p>
                <br>
                <table id="payDateTable" class="text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Date</th>
                            <th class="text-center">Fund</th>
                            <th class="text-center">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in pws_date_totals %}
                            <tr>
                                <td>{{ record.payment_date }}</td>
                                <td>{{ record.fund_description }}</td>
                                <td>${{ record.total|floatformat:2|intcomma }}</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td></td>
                                    <td></td>
                                    <td><strong>Total: </strong>${{pws_total.total|floatformat:2|intcomma}}</td>
                                </tr>
                        </tbody>
                    </table>
                    <br>
                    <p style="text-align:left;">If you would like to see a breakdown of how payments have been made per source, please click the button below</p>
                    <a href="{% url 'source_payment_info' claim=claim  %}" class="btn btn-primary">Source Payment Breakdown</a>
                </div>
            </div>
        </div>
    </div>


{% elif claim == 'Tyco_BASF' %}

    <div class="alert alert-primary" style="display:flex">
        <i class="bi bi-info-circle h5" style="padding-right:2px; color:blue; width:5%"></i>
        <p>There have been no payment distributions or allocation amounts established under the Tyco/BASF Action Fund Claim yet.
            Once this information is available from the Claims Administrator, it will be posted to this site.
            If you are seeking to determine the wiring/banking information that was originally provided for
        <strong>{{pws.pwsid}}</strong>, please send EH&E a message by filling out the contact form <a href="{% url 'contact_default' %}">here.</a></p>
    </div>

{% endif %}
<script>
    $(document).ready(function() {
        $('#payDateTable').DataTable({
            pageLength: 10,
            responsive: true,
            order: [
                [3, 'asc']
            ],
        });
    });
</script>




{% endblock %}