{% extends 'base_generic.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'landing_page' %}">
                EH&E AFFF Claims Portal
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'landing_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'no_data_contact' %}">Contact</a>
                    </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="border:none; background: none !important;">Log Out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block infobar %}{% endblock %}

{% block content %}

<div>
    <h3>PWS Info Forms</h3>
    <table>
        <thead>
            <tr>
                <th>PWS ID</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{pwsGenInfo.pwsid}}</td>
                <td>View/Edit</td>
                <td>Delete</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h3>Source Forms</h3>
    <table>
        <thead>
            <tr>
                <th>PWS ID</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for record in sourceGenInfo %}
            <tr>
                <td>{{sourceGenInfo.source_name}}</td>
                <td>View/Edit</td>
                <td>Delete</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


























{% endblock %}