{% extends 'base_generic.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'landing_page' %}">
                EH&E AFFF Claims Portal
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'landing_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'no_data_contact' %}">Contact</a>
                    </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="border:none; background: none !important;">Log Out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block infobar %}{% endblock %}

{% block content %}

<div class="card-alt" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); width:75%; margin:20px auto;">
    <h3>PWS Info Forms</h3>
    <table>
        <thead>
            <tr>
                <th class="text-center">PWSID</th>
                <th class="text-center">Last Modified</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            {% for record in pwsGenInfo %}
            <tr style="border-bottom: 1px solid #eaeaea;">
                <td class="text-center td-no-border" style="display:flex; font-size:1.25rem; align-items:center;">
                    <i style="width:100%;">{{record.pwsid}}</i>
                </td>
                <td class="text-center td-no-border">
                    {{record.timestamp}}
                </td>
                <td class="text-center td-no-border">
                    <a type="button" class="btn btn-warning" href="{% url 'pws-info-edit' pwsid=record.pwsid %}">
                        <b class="bi bi-pencil">
                            View or Edit Form
                        </b>
                    </a>
                </td>
                <td class="text-center td-no-border">
                    <form action="{% url 'pws-info-delete' pwsid=record.pwsid %}" method="POST" onsubmit="return confirm('Are you sure you'd like to delete this form?')">
                        {% csrf_token %}
                        <button id="pwsFormDeleteButton" type="submit" value="submit" class="btn btn-danger">
                            <b style="color:#e3d8d8;">  Delete Form</b>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="display:flex; justify-content:flex-end;">
        <a type="button" class="btn btn-primary" style="border-color:#50a34b; background-color:#50a34b; margin-top:30px;" href="{% url 'pws-info-create' %}">
            <p class="bi bi-plus-circle" style="margin:0;">  Add Form</p>
        </a>
    </div>
</div>

<div class="card-alt" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); width:75%; margin:20px auto;">
    <h3>Source Forms</h3>
    <table>
        <thead>
            <tr>
                <th class="text-center">Source Name</th>
                <th class="text-center">Last Modified</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
        {% for record in sourceGenInfo %}
            <tr style="border-bottom: 1px solid #eaeaea;">
                <td class="text-center td-no-border" style="display:flex; font-size:1.25rem; align-items:center;">
                    <i style="width:100%;">{{record.source_name}}</i>
                </td>
                <td class="text-center td-no-border">{{record.timestamp}}</td>
                <td class="text-center td-no-border">
                    <a type="button" class="btn btn-warning" href="{% url 'source-form-edit' pwsid=record.pwsid source_name=record.source_name %}">
                        <b class="bi bi-pencil">
                            View or Edit Form
                        </b>
                    </a>
                </td>
                <td class="text-center td-no-border">
                    <a type="button" class="btn btn-danger">
                        <b class="bi bi-trash" style="color:#e3d8d8;">  Delete Form</b>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="display:flex; justify-content:flex-end;">
        <a type="button" class="btn btn-primary" style="border-color:#50a34b; background-color:#50a34b; margin-top:30px;" href="{% url 'source-form-create' %}">
            <p class="bi bi-plus-circle" style="margin:0;">  Add Form</p>
        </a>
    </div>
</div>

{% endblock %}