{% extends 'base_generic.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <h3 class="no-bottom-border" style="text-align:center; font-weight:bold;">{% if claim == "3M_DuPont" %} 3M/Dupont Phase I Action Fund Claim Data {% else %} Tyco/BASF Action Fund Claim Data {% endif %}</h3>
    <h5 class="no-bottom-border" style="text-align:center; font-style:italic; margin-bottom:20px;">{{source.source_name}}</h5>

    {% if not impacted %}
        <div class="alert alert-primary" style="display:flex">
            <i class="bi bi-info-circle h5" style="padding-right:2px; color:blue; width:5%"></i>
            <p style="text-align:left">This source was <strong>unimpacted</strong> by PFAS; therefore there are no PFAS, maximum flow rate, or annual
                production data to be shown in the sections below.</p>
        </div>
    {% elif impacted %}
        <div class="card">
            <div class="card-body">
                <h4>PFAS Results</h4>
                <p style="text-align:left">The PFAS results that were submitted as part of the action fund claim are listed below.</p>
                <div id="pfas-results-section">
                    <table class="table table-container text-center">
                        <thead>
                            <tr>
                                <th>Analyte</th>
                                <th>Result</th>
                                <th>Sample Date</th>
                                <th>Analysis Method</th>
                                <th>Filename</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pfas_result in pfas_results %}
                                <tr>
                                    <td class="text-center">{{ pfas_result.analyte }}</td>
                                    <td data-label="Result (ppt)">{{ pfas_result.result_ppt }} ng/L (ppt) </td>
                                    <td data-label="Sample Date">{{ pfas_result.sampling_date }}</td>
                                    <td data-label="Method">{{ pfas_result.analysis_method }}</td>
                                    <td data-label="Filename">
                                        <i class="bi bi-info-circle h5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ pfas_result.filename }}"></i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div id="max-flow-rate-section">
                    <h4>Maximum Flow Rate</h4>
                    <p style="text-align:left">At the time of the action fund claim filing, each source was required to provide its maximum flow rate. The maximum flow rate for {{source.source_name}} is shown below.</p>
                    <table class="table table-container text-center">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Flow Rate (GPM)</th>
                                <th>Flow Rate (MGD)</th>
                                <th>Flow Rate (GPY)</th>
                                <th>Filename</th>
    <!--                            <th>Updated</th>-->
    <!--                            <th class="text-center">Actions</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">Maximum</td>
                                <td data-label="Flow Rate (GPM)">{{ max_flow_rate.flow_rate_gpm|floatformat:0|intcomma }}</td>
                                <td data-label="Flow Rate (MGD)">{{ max_flow_rate.flow_rate_mgd|floatformat:2|intcomma }}</td>
                                <td data-label="Flow Rate (GPY)">{{ max_flow_rate.flow_rate_gpy|floatformat:0|intcomma }}</td>
                                <td data-label="Filename"><i class="bi bi-info-circle h5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ max_flow_rate.filename }}"></i></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div id="annual-production-section">
                    <h4>Annual Production</h4>
                    <p style="text-align:left">At the time of the action fund claim filing, each source was required to at least provide its <i>three highest years</i> of annual production data from {% if claim == "3M_DuPont" %} 2013 to 2022.{% else %} 2014 to 2023.{% endif %}
                        Note that there are some cases where additional years (beyond {% if claim == "3M_DuPont" %} 2013-2022{% else %} 2014-2023{% endif %}) of annual production could've been submitted, such as if the source was taken offline or flow was reduced due to PFAS contamination. Annual production data for {{source.source_name}} is shown below.</p>
                    <table class="table table-container text-center">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Total Flow (Gallons)</th>
                                <th>Total Flow (Acre-Feet)</th>
                                <th>Filename</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for annual in annuals %}
                                <tr>
                                    <td class="text-center" width="15%">{{ annual.year|stringformat:'d' }}</td>
                                    <td data-label="Gallons">{{ annual.flow_rate_gpy|floatformat:0|intcomma }}</td>
                                    <td data-label="Acre-Feet">{{ annual.flow_rate_afpy|floatformat:2|intcomma }}</td>
                                    <td data-label="Filename"><i class="bi bi-info-circle h5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ annual.filename }}"></i></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

<script>
document.addEventListener('DOMContentLoaded', function () {
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
});
</script>

