{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <h3>{{ source.source_name }}</h3>

    <div class="card">
        <div class="card-body">
            <div id="pfas-results-section">
                <h4>PFAS Results</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Analyte</th>
                            <th>Result</th>
                            <th>Sample Date</th>
                            <th>Analysis Date</th>
                            <th>Lab Sample ID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pfas_result in pfas_results_to_show %}
                            <tr>
                                <td>{{ pfas_result.analyte }}</td>
                                <td>{% if pfas_result.result_ppt %} {{ pfas_result.result_ppt }} ng/L (ppt) {% else %} -- {% endif %}</td>
                                <td>{% if pfas_result.sampling_date %}{{ pfas_result.sampling_date }} {% else %} -- {% endif %}</td>
                                <td>{% if pfas_result.analysis_date %}{{ pfas_result.analysis_date }} {% else %} -- {% endif %}</td>
                                <td>{% if pfas_result.lab_sample_id %}{{ pfas_result.lab_sample_id }} {% else %} -- {% endif %}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#updatePfasResultModal"
                                            data-row-names="{{ pfas_result.row_names }}" data-analyte="{{ pfas_result.analyte }}" data-pfas-result="{{ pfas_result.result }}" 
                                            data-unit="{{ pfas_result.unit }}" data-source-name="{{ pfas_result.source_name }}">
                                            Update
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <em><b>Important note</b></em>
                {% if not source.all_nds %}
                    <p>
                        You may only see PFOA and PFOS concentrations above even though you have provided concentrations for other PFAS. This is intentional.
                    </p>
                    <p>
                        Concentration of another PFAS is only necessary for <em>{{ source.source_name }}</em> if the concentration of that PFAS 
                        exceeds {{ max_other_threshold }} ppt. Otherwise, concentrations for other PFAS are not necessary because of the way the Settlements formulae
                        are set up for calculating recovery. 
                    </p>
                    <p>
                        If you have a lab report that shows that the concentration for <b>PFAS other than PFOA and PFOS is greater than {{ max_other_threshold }} ppt,</b>
                        then please use the button below to provide results. 
                    </p>
                {% else %}
                    <p>
                        For the 3M and DuPont claim that was filed on your behalf, you indicated that this source has not had a PFAS detection 
                        and hence is unimpacted. 
                    </p>
                    <p>
                        If you have had PFOA or PFOS detections since please update them above. If you have had detections 
                        for other PFAS, please do so using the button below. 
                    </p>
                {% endif %}
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#updatePfasResultModal" >
                        Provide lab results for other PFAS
                    </button>
                </div>
                {% include 'modals/update_pfas_result_modal.html' %}
            </div> 
        </div> 
    </div> 

    {% if not source.all_nds %}
        <div class="card">
            <div class="card-body">
                <div id="max-flow-rate-section">
                    <h4>Maximum Flow Rate</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Flow Rate</th>
                                <th>Unit</th>
                                <th class="actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ max_flow_rate.flow_rate }}</td>
                                <td>{{ max_flow_rate.unit|upper }}</td>
                                <td class="actions">
                                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#updateMaxFlowRateModal" 
                                            data-row-names="{{ max_flow_rate.row_names }}" data-flow-rate="{{ max_flow_rate.flow_rate }}" data-unit="{{ max_flow_rate.unit }}" data-source-name="{{ max_flow_rate.source_name }}">
                                        Update
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% include 'modals/update_max_flow_rate_modal.html' %}
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <div id="annual-production-section">
                    <h4>Annual Production</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Flow Rate</th>
                                <th>Unit</th>
                                <th class="actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for annual in annuals %}
                                <tr>
                                    <td>{{ annual.year|stringformat:'d' }}</td>
                                    <td>{{ annual.flow_rate }}</td>
                                    <td>{{ annual.unit|upper }}</td>
                                    {% if annual.year == 2023 %}
                                        <td class="actions">
                                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#addOrUpdateAnnualModal"
                                                    data-flow-rate="{{ annual_2023.flow_rate }}" data-unit="{{ annual_2023.unit }}" data-source-name="{{ source.source_name }}">
                                                Update
                                            </button>
                                        </td>
                                    {% endif %}
                                </tr>
                                
        
                            {% endfor %}
        
                            {% if not annual_2023 %}
                            <tr>
                                <td>2023</td>
                                <td>Not provided</td>
                                <td></td>
                                <td class="actions">
                                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#addOrUpdateAnnualModal"
                                            data-flow-rate="{{ annual_2023.flow_rate }}" data-unit="{{ annual_2023.unit }}" data-source-name="{{ source.source_name }}">
                                        Update
                                    </button>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% include 'modals/add_or_update_annual_modal.html' %}
                </div>
            </div>
        </div>

    {% else %}
        <div class="card">
            <div class="card-body">
                <h4>Maximum Flow Rates and Annual Production</h4>
                <p>Since PFAS have not been detected at this source, annual production and maximum flow rates are not needed.</p>
                <p>
                    If PFAS have been detected, please update the PFAS results above. Doing so will allow you to enter the annual production 
                    and maximum flow rates. 
                </p>
            </div>
        </div>
        
    {% endif %}
</div>


{% endblock %}
