{% extends 'base_generic.html' %}

{% block content %}
<div>
    <form id="sourceForm" action="/source-form/" method="post" onSubmit="return confirm('Are you sure you would like to submit this form?')">
        {% csrf_token %}

        <!--Source Name-->
        <div class="card-alt" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); width:75%; margin:20px auto;">
            <h3>Source Name</h3>
            <div class="form-group">
                <label for="source_name">Please enter the source name:</label>
                <input required id="source_name" name="source_name" type="text" class="form-control" value="{{phase2SourceInfoForm.source_name.value|default_if_none:''}}">
            </div>
        </div>

        <!--Source Type-->
        <div class="card-alt" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); width:75%; margin:20px auto;">
            <h3>Source Type</h3>
            <div class="form-group">
                <label for="source_type">Please provide the source type:</label>
                <select required id="source_type" name="source_type" type="text" class="form-control">
                    <option disabled {% if not phase2SourceInfoForm.source_type_other.value %} selected {% endif %} value=""></option>
                    {% for option in sourceTypeOptions %}
                        <option {% if phase2SourceInfoForm.source_type.value == option.0 %} selected {% endif %} value="{{option.0}}">{{option.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="sourceTypeOther" class="form-group hidden">
                <label for="source_type_other">Please describe the source type:</label>
                <input required id="source_type_other" name="source_type_other" type="text" class="form-control" value="{{phase2SourceInfoForm.source_type_other.value|default_if_none:''}}">
            </div>
        </div>

    <!--- Yes/No Questions -->
        <div class="card-alt" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); width:75%; margin:20px auto;">
            <h3>Yes/No Questions</h3>
            <div class="form-group grey-bottom" style="display:flex; justify-content:space-between; border-bottom: 2px solid rgba(210, 210, 210, 0.5);">
                <label for="pws_owns_source" class="tf-label">Does the PWS own this Water Source?</label>
                <select required id="pws_owns_source" name="pws_owns_source" class="form-control tf-select">
                    <option disabled {% if not phase2SourceInfoForm.pws_owns_source.value %} selected {% endif %} value=""></option>
                    {% for option in yesNoUnknown %}
                        <option {% if phase2SourceInfoForm.pws_owns_source.value == option %} selected {% endif %} value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group grey-bottom" style="display:flex; justify-content:space-between;">
                <label for="source_co_owned" class="tf-label">Are there any co-owners to this water source?</label>
                <select required id="source_co_owned" name="source_co_owned" class="form-control tf-select">
                    <option disabled {% if not phase2SourceInfoForm.source_co_owned.value %} selected {% endif %} value=""></option>
                    {% for option in yesNoUnknown %}
                        <option {% if phase2SourceInfoForm.source_co_owned.value == option %} selected {% endif %} value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group grey-bottom" style="display:flex; justify-content:space-between;">
                <label for="pws_operates_source" class="tf-label">Does the PWS operate this Water Source?</label>
                <select required id="pws_operates_source" name="pws_operates_source" class="form-control tf-select">
                    <option disabled {% if not phase2SourceInfoForm.pws_operates_source.value %} selected {% endif %} value=""></option>
                    {% for option in yesNoUnknown %}
                        <option {% if phase2SourceInfoForm.pws_operates_source.value == option %} selected {% endif %} value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group grey-bottom" style="display:flex; justify-content:space-between;">
                <label for="pws_purchased" class="tf-label">Is this Water Source a purchased water connection?</label>
                <select required id="pws_purchased" name="pws_purchased" class="form-control tf-select">
                    <option disabled {% if not phase2SourceInfoForm.pws_purchased.value %} selected {% endif %} value=""></option>
                    {% for option in yesNoUnknown %}
                        <option {% if phase2SourceInfoForm.pws_purchased.value == option %} selected {% endif %} value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group grey-bottom" style="display:flex; justify-content:space-between;">
                <label for="pws_drinking_water" class="tf-label">Has the water form this Water Source ever been used as Drinking Water?</label>
                <select required id="pws_drinking_water" name="pws_drinking_water" class="form-control tf-select">
                    <option disabled {% if not phase2SourceInfoForm.pws_drinking_water.value %} selected {% endif %} value=""></option>
                    {% for option in yesNoUnknown %}
                        <option {% if phase2SourceInfoForm.pws_drinking_water.value == option %} selected {% endif %} value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group grey-bottom" style="display:flex; justify-content:space-between;">
                <label for="is_part_of_idws" class="tf-label">Is this Water Source part of an Interrelated Drinking Water System (IDWS)?</label>
                <select required id="is_part_of_idws" name="is_part_of_idws" class="form-control tf-select">
                    <option disabled {% if not phase2SourceInfoForm.is_part_of_idws.value %} selected {% endif %} value=""></option>
                    {% for option in yesNoUnknown %}
                        <option {% if phase2SourceInfoForm.is_part_of_idws.value == option %} selected {% endif %} value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!--Hidden divs but will appear based on yes/no responses-->

        <div id="coOwnerInfo" class="card-alt hidden" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); width:75%; margin:20px auto;">
            <h3>Source Co-Owner Information</h3>
            <div class="form-group">
                <label for="co_owner_pwsid">Co-owner PWSID:</label>
                <input id="co_owner_pwsid" name="co_owner_pwsid" type="text" class="form-control" value="{{phase2SourceInfoForm.co_owner_pwsid.value|default_if_none:''}}">
            </div>
            <div class="form-group">
                <label for="co_owner_explained">Please describe the PWS's relationship with the co-owner:</label>
                <textarea id="co_owner_explained" name="co_owner_explained" class="form-control">{{phase2SourceInfoForm.co_owner_explained.value|default_if_none:''}}</textarea>
            </div>
        </div>

        <div id="idwsExplanation" class="card-alt hidden" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); width:75%; margin:20px auto;">
            <h3>IDWS Information</h3>
            <div class="form-group">
                <label for="idws_explanation">Please explain the relationship between the PWS and the IDWS:</label>
                <textarea id="idws_explanation" name="idws_explanation" class="form-control">{{phase2SourceInfoForm.idws_explanation.value|default_if_none:''}}</textarea>
            </div>
        </div>

        <!--________________________ Max Flow Rate Section ______________________-->

        <div class="card-alt" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); width:75%; margin:20px auto;">
            <h3>Maximum Flow Rate</h3>
            <div style="display:flex; justify-content:space-between;">
                <div class="form-group" style="width:50%;">
                    <label for="max_flow_rate">Verified maximum flow rate of the Water Source:</label>
                    <input id="max_flow_rate" name="max_flow_rate" type="text" class="form-control" value="{{phase2MaxFlowForm.max_flow_rate.value|default_if_none:''}}">
                </div>
                <div class="form-group" style="width:50%;">
                    <label for="units">Units of Provided Flow Rate:</label>
                    <select id="units" name="units" class="form-control">
                        <option disabled {% if not phase2MaxFlowForm.units.value %} selected {% endif %} value=""></option>
                        {% for option in unitOptions %}
                            <option {% if phase2MaxFlowForm.units.value == option.0 %} selected {% endif %} value="{{option.0}}">{{option.1}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="flow_determination">How was the verified maximum flow rate determined?</label>
                <input id="flow_determination" name="flow_determination" type="text" class="form-control" value="{{phase2MaxFlowForm.flow_determination.value|default_if_none:''}}">
            </div>
            <div class="mb-3">
                <label for="pfasFileUpload" class="form-label">This is a placeholder for the filename upload.</label>
                <input type="file" class="form-control" id="pfasFileUpload" name="filename" accept=".pdf, .jpg, .jpeg, .png">
<!--                <small class="text-muted">Supported file types: .pdf, .jpg, .jpeg, .png (max file size = 25MB)</small>
                <div class="invalid-feedback" id="file-upload-error"></div>-->
            </div>
            <div class="form-group">
                <label for="comments_max_flow">Comments</label>
                <textarea id="comments_max_flow" name="comments_max_flow" class="form-control">{{phase2MaxFlowForm.comments_max_flow.value|default_if_none:''}}</textarea>
            </div>
        </div>

        <!--___________________________________Annual Flow Rates_________________________________-->
        <div class="card-alt" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); width:75%; margin:20px auto;">
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Flow Rate</th>
                        <th>Units</th>
                        <th>Flow Rate Reduced?</th>
                        <th>Existed?</th>
                    </tr>
                </thead>
                <tbody>
                    {{phase2AnnualFlowForm.management_form}}
                    {% for form in phase2AnnualFlowForm %}
                    <tr>
                        <td><input disabled id="{{form.year.html_name}}" name="{{form.year.html_name}}" type="number" class="form-control label-center" value="{{form.year.value|floatformat:'0'}}"></td>
                        <td class="label-center"><input id="{{form.annual_flow_rate.html_name}}" name="{{form.annual_flow_rate.html_name}}" type="number" class="form-control" value="{{form.annual_flow_rate.value}}"></td>
                        <td class="label-center">
                            <select id="flow_units" name="flow_units" class="form-select">
                                <option disabled {% if not form.units.value %} selected {% endif %} value=""></option>
                                    {% for option in unitOptions %}
                                        <option {% if form.units.value == option.0 %} selected {% endif %} value="{{option.0}}">{{option.1}}</option>
                                    {% endfor %}
                            </select>
                        </td>
                        <td class="label-center">
                            <select required id="{{form.flow_rate_reduced.html_name}}" name="{{form.flow_rate_reduced.html_name}}" class="form-select">
                                <option disabled {% if not form.flow_rate_reduced.value %} selected {% endif %} value=""></option>
                                {% for option in yesNoUnknown %}
                                    <option {% if form.flow_rate_reduced.value == option %} selected {% endif %} value="{{option}}">{{option}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="label-center">
                            <select required id="{{form.did_not_exist.html_name}}" name="{{form.did_not_exist.html_name}}" class="form-select">
                                <option disabled {% if not form.did_not_exist.value %} selected {% endif %} value=""></option>
                                {% for option in yesNoUnknown %}
                                    <option {% if form.did_not_exist.value == option %} selected {% endif %} value="{{option}}">{{option}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>






        </div>



        <!--Submit Button-->
        <div class="card-alt" style="background:none; width:75%; height:200%; margin:20px auto; display:flex; justify-content:center;">
            <input id="submit" type="submit" value="Submit" class="btn btn-primary" style="width:20%; font-size:1.5em;">
        </div>
    </form>
</div>



<script>


    document.addEventListener("DOMContentLoaded", function () {
        const sourceTypeSelect = document.getElementById('source_type');
        const sourceTypeOtherDiv = document.getElementById('sourceTypeOther');
        const sourceTypeOther = document.getElementById('source_type_other');
        const sourceCoOwned = document.getElementById('source_co_owned');
        const coOwnerInfoDiv = document.getElementById('coOwnerInfo');
        const coOwnerPWSID = document.getElementById('co_owner_pwsid')
        const coOwnerExplained = document.getElementById('co_owner_explained')
        const isPartOfIDWS = document.getElementById('is_part_of_idws')
        const idwsExplanationDiv = document.getElementById('idwsExplanation')
        const idwsExplanation = document.getElementById('idws_explanation')


        // create function that toggles whether the 'hidden' class is applied
        function toggleHiddenRequired() {
            console.log("here");

            // True/False Statements
            tf1 = sourceTypeSelect.value === "Other";
            tf2 = sourceCoOwned.value === "Yes"
            tf3 = isPartOfIDWS.value === "Yes"

            // toggle whether the elements are hidden or not
            sourceTypeOtherDiv.classList.toggle("hidden", !tf1);
            coOwnerInfoDiv.classList.toggle("hidden", !tf2);
            idwsExplanationDiv.classList.toggle("hidden", !tf3);

            // toggle whether they are required.
            sourceTypeOther.required = tf1;
            coOwnerPWSID.required = tf2;
            coOwnerExplained.required = tf2;
            idwsExplanation.required = tf3;

        };

        // once the page is loaded, trigger the function to hide/show based on value
        toggleHiddenRequired();

        // apply function any time there are changes
        sourceTypeSelect.addEventListener("change", toggleHiddenRequired);
        sourceCoOwned.addEventListener("change", toggleHiddenRequired);
        isPartOfIDWS.addEventListener("change", toggleHiddenRequired);



<!--        const startYear = 2013;-->

<!--        for (let i = 0; i <= 10; i++) {-->
<!--          const input = document.getElementById(`form-${i}-year`);-->
<!--          if (input) {-->
<!--            input.value = startYear + i;-->
<!--            input.disabled = true;-->
<!--          }-->
<!--        }-->



    });


</script>


{% endblock %}