{% extends 'base_generic.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <h3 class="no-bottom-border" style="text-align:center; font-weight:bold;">{% if claim == "3M_DuPont" %} 3M/Dupont Phase I Action Fund Claim Data {% else %} Tyco/BASF Action Fund Claim Data {% endif %}</h3>
    <h5 class="no-bottom-border" style="text-align:center; font-style:italic; margin-bottom:20px;">{{source.source_name}}</h5>

    {% if not impacted %}
        <div class="alert alert-primary" style="display:flex">
            <i class="bi bi-info-circle h5" style="padding-right:2px; color:blue; width:5%"></i>
            <p>This source was <strong>unimpacted</strong> by PFAS; therefore there is no PFAS results to be shown in the
            sections below. In most cases, for sources unimpacted by PFAS, a value of zero (0) was assigned to the source's max flow rate attribute and its annual flow rate data.</p>

        </div>
    {% endif %}

    {% if impacted %}
    <div class="card">
        <div class="card-body">
            <h4>PFAS Results</h4>
            <div id="pfas-results-section">
                <table class="table table-container text-center">
                    <thead>
                        <tr>
                            <th>Analyte</th>
                            <th>Result</th>
                            <th>Sample Date</th>
                            <th>Analysis Method</th>
                            <th>Filename</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pfas_result in pfas_results %}
                            <tr>
                                <td class="text-center">{{ pfas_result.analyte }}</td>
                                <td data-label="Result (ppt)">{{ pfas_result.result_ppt }} ng/L (ppt) </td>
                                <td data-label="Sample Date">{{ pfas_result.sampling_date }}</td>
                                <td data-label="Method">{{ pfas_result.analysis_method }}</td>
                                <td data-label="Filename">
                                    <i class="bi bi-info-circle h5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ pfas_result.filename }}"></i>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div> 
    </div> 
    {% endif %}

    <div class="card">
        <div class="card-body">
            <div id="max-flow-rate-section">
                <h4>Maximum Flow Rate</h4>
                <table class="table table-container text-center">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Flow Rate (GPM)</th>
                            <th>Filename</th>
<!--                            <th>Updated</th>-->
<!--                            <th class="text-center">Actions</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">Maximum</td>
                            <td data-label="Flow Rate (GPM)">{{ max_flow_rate.flow_rate_gpm|floatformat:2 }}</td>
                            <td data-label="Filename"><i class="bi bi-info-circle h5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ max_flow_rate.filename }}"></i></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <div id="annual-production-section">
                <h4>Annual Production</h4>
                <table class="table table-container text-center">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Gallons Per Minute (GPM)</th>
                            <th>Gallons Per Year (GPY)</th>
                            <th>Filename</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for annual in annuals %}
                            <tr>
                                <td class="text-center" width="15%">{{ annual.year|stringformat:'d' }}</td>
                                <td data-label="Gallons Per Minute (GPM)">{{ annual.flow_rate_gpm|floatformat:2|intcomma }}</td>
                                <td data-label="Gallons Per Year (GPY)">{{annual.flow_rate_gpy|floatformat:0|intcomma}}</td>
                                <td data-label="Filename"><i class="bi bi-info-circle h5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ annual.filename }}"></i></td>
                            </tr>        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
});
</script>
{% endblock %}
