<div class="modal fade" id="updateMaxFlowRateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Update Maximum Flow Rate</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="updateMaxFlowRateForm" method="post" action="/update-max-flow-rate/" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Flow rate year (disabled) -->
            <div class="mb-3">
              <label for="flowRateSource" class="form-label">Source Name</label>
              <input class="form-control" id="flowRateSource" name="flow_rate_source" value="{{ source.source_name }}" readonly>
            </div>

            <!-- Flow rate and unit (one row) -->
            <div class="row">
              <div class="col-md-6 mb-3">
                  <label for="flowRateInput" class="form-label">Flow Rate</label>
                  <input type="number" class="form-control" id="flowRateInput" name="flow_rate" min="0" step="0.01" required>
                  <div class="invalid-feedback" id="flow-rate-error"></div>
              </div>
              
              <div class="col-md-6 mb-3">
                  <label for="unitInput" class="form-label">Unit</label>
                  <select class="form-control" id="unitInput" name="unit" required>
                      <option value="" disabled selected>Select the units</option>
                      <option value="mgd">MGD (Million Gallons per Day)</option>
                      <option value="gpm">GPM (Gallons per Minute)</option>
                      <option value="mgy">MGY (Million Gallons per Year)</option>
                      <option value="gpy">GPY (Gallons per Year)</option>
                      <option value="afpy">AFPY (Acre-feet per Year)</option>
                  </select>
                  <div class="invalid-feedback" id="unit-error"></div>
              </div>
          </div>
          
          <!-- File Upload -->
          <div class="mb-3">
              <label for="maxFlowRateFileUpload" class="form-label">Upload Max Flow Rate File</label>
              <input type="file" class="form-control" id="maxFlowRateFileUpload" name="filename" accept=".xls, .xlsx, .xlsm, .pdf, .jpg, .jpeg, .png" required>
              <small class="text-muted">Supported file types: .xls, .xlsx, .xlsm, .pdf, .jpg, .jpeg, .png</small>
              <div class="invalid-feedback" id="file-upload-error"></div>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-outline-success" id="submit-button">Save changes</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById('updateMaxFlowRateForm');
    const fileInput = document.getElementById('maxFlowRateFileUpload');
    const allowedExtensions = ['xls', 'xlsx', 'xlsm', 'pdf', 'jpg', 'jpeg', 'png'];
    const updateMaxFlowRateModal = document.getElementById('updateMaxFlowRateModal');
    
    // When the modal is hidden
    updateMaxFlowRateModal.addEventListener('hide.bs.modal', function () {
        // Reset the form and clear validation errors
        form.reset();
        document.querySelectorAll('.invalid-feedback').forEach(el => el.innerHTML = '');
        document.querySelectorAll('.form-control').forEach(el => el.classList.remove('is-invalid'));
    });

    // Form submission validation
    form.onsubmit = function (event) {
          let valid = true;
  
          // Clear previous errors
          document.querySelectorAll('.invalid-feedback').forEach(el => el.innerHTML = '');
          document.querySelectorAll('.form-control').forEach(el => el.classList.remove('is-invalid'));  
          
          // Validate file type
          const fileName = fileInput.value;
          const fileExtension = fileName.split('.').pop().toLowerCase();
  
          if (!allowedExtensions.includes(fileExtension)) {
              valid = false;
              fileInput.classList.add('is-invalid');
              document.getElementById('file-upload-error').innerHTML = "Max Flow Rate file must be a spreadsheet, pdf or an image file.";
          }
  
          // Prevent form submission if invalid
          if (!valid) {
              event.preventDefault();
          }
      };
  });
</script>