<div class="modal fade" id="addOrUpdateAnnualModal" tabindex="-1" aria-labelledby="addOrUpdateModalLabel" aria-hidden="true"  data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOrUpdateModalLabel">Update Annual Production for 2023</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="AnnualProductionForm" method="post" action="{% url 'update-annual-production' %}">
                    {% csrf_token %}
                    <input type="hidden" name="pwsid" value="{{ source.pwsid }}">
                    <!-- <input type="hidden" name="source_name" value="{{ source.source_name }}"> -->
                    <!-- <input type="hidden" name="year" value="2023"> -->
                    <div class="mb-3">
                        <label for="flowRateSource" class="form-label">Source Name</label>
                        <input class="form-control" id="flowRateSource" name="source_name" value="{{ source.source_name }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="flowRateYear" class="form-label">Year</label>
                        <input class="form-control" id="flowRateYear" name="year" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="flowRateInput" class="form-label">Flow Rate</label>
                        <input type="number" class="form-control" id="flowRateInput" name="flow_rate" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="unitInput" class="form-label">Unit</label>
                        <select class="form-control" id="unitInput" name="unit" required>
                            <option value="" disabled selected>Select the units</option>
                            <option value="mgd">MGD (Million Gallons per Day)</option>
                            <option value="gpm">GPM (Gallons per Minute)</option>
                            <option value="gpy">GPY (Gallons per Year)</option>
                            <option value="afpy">AFPY (Acre-feet per Year)</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Save changes</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var updateFlowRateModal = document.getElementById('addOrUpdateAnnualModal');
    updateFlowRateModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;

        // Extract data from data-* attributes 
        var year = parseInt(button.getAttribute('data-year'), 10); // Convert to integer

        // Set the year input value
        var yearInput = document.getElementById('flowRateYear');
        yearInput.value = year;
    });
});

</script>