<div class="modal fade" id="addOrUpdateAnnualModal" tabindex="-1" aria-labelledby="addOrUpdateModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOrUpdateModalLabel">Update Annual Production</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateAnnualProductionForm" method="post" action="/update-annual-production/"
                    enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- PWSID -->
                    <div class="mb-3">
                        <label for="pwsid" class="form-label">PWSID</label>
                        <input class="form-control" id="pwsid" name="pwsid" value="{{ claim_source.pwsid }}"
                            readonly required>
                    </div>

                    <!-- Source ID and Source Name -->
                    <div class="row">
                        <div class="col-md-3 mb-3" id="info-field">
                            <label for="waterSourceId" class="form-label">Source ID</label>
                            <input class="form-control" id="waterSourceId" name="water_source_id"
                                value="{{ claim_source.water_source_id|floatformat:0 }}" readonly required>
                        </div>
                        <div class="col-md-9 mb-3">
                            <label for="pfasResultSource" class="form-label">Source Name</label>
                            <input class="form-control" id="pfasResultSource" name="source_name"
                                value="{{ claim_source.source_name }}" readonly required>
                        </div>
                    </div>

                    <!-- Flow rate year (disabled) -->
                    <div class="mb-3">
                        <label for="flowRateYear" class="form-label">Year</label>
                        <input class="form-control" id="flowRateYear" name="year" readonly>
                    </div>

                    <!-- Flow rate and unit (one row) -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="flowRateInput" class="form-label">Flow</label>
                            <input type="number" class="form-control" id="flowRateInput" name="flow_rate" min="0"
                                step="0.001" required>
                            <div class="invalid-feedback" id="flow-rate-error"></div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="unitInput" class="form-label">Unit</label>
                            <select class="form-control" id="unitInput" name="unit" required>
                                <option value="" disabled selected>Select the units</option>
                                <!-- <option value="mgd">MGD (Million Gallons per Day)</option>
                                <option value="gpm">GPM (Gallons per Minute)</option> -->
                                <option value="mgy">Million Gallons</option>
                                <option value="gpy">Gallons</option>
                                <option value="afpy">Acre-Feet</option>
                            </select>
                            <div class="invalid-feedback" id="unit-error"></div>
                        </div>
                    </div>

                    <!-- Flow rate reduced -->
                    <div class="mb-3">
                        <label for="flowRateReduced" class="form-label">Was the source taken offline or the flow reduced
                            due specifically to PFAS contamination?</label>
                        <input type="checkbox" class="form-check-input" id="flowRateReduced" name="flow_rate_reduced">
                    </div>

                    <!-- File Upload -->
                    <div class="mb-3">
                        <label for="annualProductionFileUpload" class="form-label">Upload Annual Production File</label>
                        <input type="file" class="form-control" id="annualProductionFileUpload" name="filename"
                            accept=".xls, .xlsx, .xlsm, .pdf, .jpg, .jpeg, .png" required>
                        <small class="text-muted">Supported file types: .xls, .xlsx, .xlsm, .pdf, .jpg, .jpeg,
                            .png (max file size = 25MB)</small>
                        <div class="invalid-feedback" id="file-upload-error"></div>
                    </div>

                    <!-- Comment -->
                    <div class="mb-3">
                        <label for="comments" class="form-label">Comment</label>
                        <textarea class="form-control" id="comments" name="comments" rows="4"
                            placeholder="Enter your comments here"></textarea>
                    </div>

                    <button type="submit" class="btn btn-outline-success" id="submit-button">Save changes</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var updateFlowRateModal = document.getElementById('addOrUpdateAnnualModal');
        var form = document.getElementById('updateAnnualProductionForm');
        var yearInput = document.getElementById('flowRateYear');
        var fileInput = document.getElementById('annualProductionFileUpload');
        const maxFileSizeBytes = 25 * 1024 * 1024 // Max file size: 25 MB
        const submitButton = document.getElementById('submit-button');
        var allowedExtensions = ['xls', 'xlsx', 'xlsm', 'pdf', 'jpg', 'jpeg', 'png'];

        // When the modal is shown
        updateFlowRateModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;

            // Extract data from data-* attributes
            var year = parseInt(button.getAttribute('data-year'), 10); // Convert to integer

            // Set the year input value
            if (!isNaN(year)) {
                yearInput.value = year;
            } else {
                yearInput.value = ''; // Default value if no valid year is provided
            }
        });

        // When the modal is hidden
        updateFlowRateModal.addEventListener('hide.bs.modal', function () {
            // Reset the form and clear validation errors
            form.reset();
            document.querySelectorAll('.invalid-feedback').forEach(el => el.innerHTML = '');
            document.querySelectorAll('.form-control').forEach(el => el.classList.remove('is-invalid'));
        });

        // Form submission validation
        form.onsubmit = function (event) {
            let valid = true;

            // Clear previous errors
            document.querySelectorAll('.invalid-feedback').forEach(el => el.innerHTML = '');
            document.querySelectorAll('.form-control').forEach(el => el.classList.remove('is-invalid'));

            // Validate file type
            const fileName = fileInput.value;
            const fileExtension = fileName.split('.').pop().toLowerCase();
            const file = fileInput.files[0];

            if (!allowedExtensions.includes(fileExtension)) {
                valid = false;
                fileInput.classList.add('is-invalid');
                document.getElementById('file-upload-error').innerHTML = "Annual production file must be a spreadsheet, pdf, or an image file.";
            } else if (file && file.size > maxFileSizeBytes) {
                valid = false;
                fileInput.classList.add('is-invalid');
                document.getElementById('file-upload-error').innerHTML = "File size must not exceed 25 MB.";
            }

            // Prevent form submission if invalid
            if (!valid) {
                event.preventDefault();
            }
        };
    });
</script>